<div class="quick-contact">
	<span>phone: 555-555-5555</span>
	<span>email: bergenbread@bergenbread.com</span>
</div>
<div class="bergen-bread-banner">
	BERGEN BREAD DIST.
</div>

<div class="navigation">
	<a href="#">home</a>
	<a href="#">about us</a>
	<a href="#">contact us</a>
	<a href="#">catalog</a>
	<a href="#">pricing</a>
</div>
<div class="copyright">
	Bergen Bread Distribution © 2019
</div>