// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$esperanzaGreen: #336600;
$esperanzaGold: #FFD700;

body {
	background-color: $esperanzaGreen;
}

.container{
	border: solid 1px;
	height: 685px;
	width: 100%;

	.bergen-bread-banner-animate {
		position: relative;
		border: solid 1px;
		top: 0px;
		width: 100%;
		text-align: center;
		font-size: 100px;
		font-family: 'georgia';
		color: $esperanzaGold;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: black;
		font-weight: bold;
		animation-name: bergen-bread-banner;
		animation-duration: 1s;

	}

	.bergen-bread-banner {
		position: relative;
		border: solid 1px;
		top: 0px;
		width: 100%;
		text-align: center;
		font-size: 100px;
		font-family: 'georgia';
		color: $esperanzaGold;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: black;
		font-weight: bold;
	}

	.navigation {
		a:link, a:visited {
			color: $esperanzaGold;
			font-size: 36px;
			text-decoration: none;
			-webkit-text-stroke-width: 0.5px;
			-webkit-text-stroke-color: black;
			padding-left: 20px;
			padding-right: 20px;
			font-family: 'verdana';
		}
		a:hover {
			color: white;
		}
		a:active {
			color: white;
		}
		text-align: center;
		width: 100%;
		font-family: 'georgia';

		.enter-animate {
			position:relative;
			border: solid 1px;
			animation-name: navigation-enter-animate;
			animation-duration: 2s;
			top: 150px;
			.active {
				color: white;
			}
		}
	
		.tab-animate {
			position:relative;
			border: solid 1px;
			animation-name: navigation-tab-animate;
			animation-duration: .5s;
			top: 0px;
			.active {
				color: white;
			}
		}
	
		.tab {
			position:relative;
			border: solid 1px;
			top: 0px;
			.active {
				color: white;
			}
		}
	
		.home-animate {
			position:relative;
			border: solid 1px;
			animation-name: navigation-home-animate;
			animation-duration: .5s;
			top: 150px;
			.active {
				color: white;
			}
		}
	
		.home {
			position:relative;
			border: solid 1px;
			top: 150px;
			.active {
				color: white;
			}
		}
	}

	.quick-contact-animate {
		position: relative;
		border: solid 1px;
		top: 0px;
		height: 100px;
		animation-name: quick-contact;
		animation-duration: 4s;
		color: white;
		font-family: verdana;
		font-size: 22px;
		width: 100%;
		text-align: center;
		p {
			position: relative;
			text-align: center;
			top: 50px;
			border: solid 1px;
			// bottom: 0px;
			span {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}

	.quick-contact {
		position: relative;
		border: solid 1px;
		top: 0px;
		height: 100px;
		color: white;
		font-family: verdana;
		font-size: 22px;
		width: 100%;
		text-align: center;
		p {
			position: relative;
			text-align: center;
			top: 50px;
			border: solid 1px;
			span {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}

	.content {
		position: relative;
		border: solid 1px;
		height: 400px;
		width: 100%;
	}

	.copyright {
		position: relative;
		border: solid 1px;
		width: 100%;
		color: black;
		font-family: verdana;
		font-size: 18px;
		font-weight: black;
		text-align: left;
	}

	@keyframes bergen-bread-banner {
		0%   { top: -150px; }
		100% { top: 0px; }
	}

	@keyframes navigation {
		0%   { top: 800px; visibility: hidden;}
		50%  { top: 800px; visibility: hidden; }
		100% { top: 150px; }
	}

	@keyframes navigation-enter-animate {
		0%   { top: 800px; visibility: hidden;}
		50%  { top: 800px; visibility: hidden; }
		100% { top: 150px; }
	}

	@keyframes navigation-tab-animate {
		0%   { top: 150px; }
		100% { top: 0; }
	}

	@keyframes navigation-home-animate {
		0%   { top: 0px; }
		100% { top: 150px; }
	}

	@keyframes quick-contact {
		0%   { opacity: 0;}
		50%  { opacity: 0; }
		100% { opacity: 1; }
	}
}