// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$esperanzaGreen: #336600;
$esperanzaGold: #FFD700;

body {
	background-color: $esperanzaGreen;
}

.bergen-bread-banner {
	position: fixed;
	top: 70px;
	width: 100%;
	text-align: center;
	font-size: 100px;
	font-family: 'georgia';
	color: $esperanzaGold;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	font-weight: bold;
	animation-name: bergen-bread-banner;
	animation-duration: 1s;

}

.navigation {
	a:link, a:visited {
		color: $esperanzaGold;
		font-size: 36px;
		text-decoration: none;
		-webkit-text-stroke-width: 0.5px;
		-webkit-text-stroke-color: black;
		padding-left: 20px;
		padding-right: 20px;
		font-family: 'verdana';
	}
	a:hover, a:active {
		color: white;
	}
	animation-name: navigation;
	animation-duration: 2s;
	position: fixed;
	bottom: 375px;
	text-align: center;
	width: 100%;
	font-family: 'georgia';
}

.quick-contact {
	position: fixed;
	top: 65px;
	animation-name: quick-contact;
	animation-duration: 4s;
	color: white;
	font-family: verdana;
	font-size: 22px;
	width: 100%;
	text-align: center;
	span {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.copyright {
	position: fixed;
	bottom: 0px;
	width: 100%;
	color: black;
	font-family: verdana;
	font-size: 18px;
	font-weight: black;
	text-align: left;
}

@keyframes bergen-bread-banner {
	0%   { top: 0px; }
	100% { top: 70px; }
}

@keyframes navigation {
	0%   { bottom: 0px; visibility: hidden;}
	50%  { bottom: 0px; visibility: hidden; }
	100% { bottom: 375px; }
}

@keyframes quick-contact {
	0%   { opacity: 0;}
	50%  { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes shine {
	0%, 10% {
		background-position: -1000px;
	}
	20% {
		background-position: top left;
	}
	90% {
		background-position: top right;
	}
	100% {
		background-position: 1000px;
	}
}